extends ./layout.pug

block header
    //- Placeholder
    block header

block navbar
    div#branding-bar-v1(itemscope="itemscope", itemtype="http://schema.org/CollegeOrUniversity")
        div.bar
            div.wrapper
                h1.campus
                    a(href="https://www.iupui.edu", title="Indiana University&#8211;Purdue University Indianapolis")
                        img(src="https://assets.iu.edu/brand/1.x/trident-large.png", alt=" ", width="64", height="73")
                        span.show-on-desktop(itemprop="name") Indiana University&#8211;Purdue University Indianapolis
                        span.show-on-tablet(itemprop="name") Indiana University&#8211;Purdue University Indianapolis
                        span.show-on-mobile(itemprop="name") IUPUI
    block navbar

block footer
    footer#footer-v1(role="contentinfo", itemscope="itemscope", itemtype="http://schema.org/CollegeOrUniversity")
        div.wrapper
            p.tagline
                | Fulfilling 
                span the
                |  Promise
            p.internal
                a#privacy-policy-link(href="/privacy", title="Privacy Policy") Privacy Notice
            p.copyright
                a.block-iu(href="https://iu.edu")
                    img(src="https://assets.iu.edu/brand/2.x/trident-small.png", alt="Block IU", width="22", height="26")
                span.line-break
                    a(href="http://www.iu.edu/copyright/index.shtml") Copyright &#169; #{new Date().getYear() + 1900}
                span.line-break
                    | The Trustees of 
                    a(href="https://iu.edu/", itemprop="url")
                        span(itemprop="name") Indiana University

block body
    style.
        html {
            min-height: 100%;
            height: 100%;
        }
        body {
            position: relative;
            min-height: 100%;
            height: 100%;
        }
        #body {
            position: relative;
            margin-left: 10px;
            margin-bottom: 60px;
            min-height: calc(100% - 250px);
            /* A height attribute breaks the profile name for some reason */
        }
        #footer-v1 {
            bottom: 0;
            padding: 20px 0 10px 0 !important;
        }
        #footer-v1 .tagline {
            top: -46px !important;
        }
        .row {
            margin-right: 0px !important;
            margin-left: 0px !important;
        }
    div#body
        block body
